cow-server-api/src/main/xsd/cow-model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Approved for Public Release: 10-4800. Distribution Unlimited.
    Copyright 2011 The MITRE Corporation,
    Licensed under the Apache License,
    Version 2.0 (the "License");

    You may not use this file except in compliance with the License.
    You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    either express or implied.

    See the License for the specific language governing permissions and limitations under the License.

-->

<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    targetNamespace="http://www.wiredwidgets.org/cow/server/schema/model-v2"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://www.wiredwidgets.org/cow/server/schema/model-v2"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd">

    <!-- Global Elements -->
    <element name="process" type="tns:Process"/>
    <element name="activity" type="tns:Activity" abstract="true" nillable="false">
        <annotation>
            <documentation>
            	<![CDATA[
            	Abstract element that defines the substitution group for all concrete elements that can be used in a Process.
            	]]>
            </documentation>
        </annotation>
    </element>


    <element name="activities" substitutionGroup="tns:activity" type="tns:Activities"/>
    <element name="decision" substitutionGroup="tns:activity" type="tns:Decision"/>
    <element name="exit" substitutionGroup="tns:activity" type="tns:Exit"/>
    <element name="loop" substitutionGroup="tns:activity" type="tns:Loop"/>
    <element name="option" type="tns:Option"/>
    <element name="script" substitutionGroup="tns:activity" type="tns:Script" />
    <element name="serviceTask" substitutionGroup="tns:activity" type="tns:ServiceTask"/>
    <element name="signal" substitutionGroup="tns:activity" type="tns:Signal" />
    <element name="subProcess" substitutionGroup="tns:activity" type="tns:SubProcess"/>
    <element name="task" substitutionGroup="tns:activity" type="tns:Task" />

    <!-- Type definitions -->

    <complexType name="Variable">
        <attribute name="name" type="string"/>
        <attribute name="value" type="string"/>
        <attribute name="type" type="string" />
        <attribute name="required" type="boolean" default="false" />
        <attribute name="output" type="boolean" default="false" />
    </complexType>

    <complexType name="Variables">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="variable" type="tns:Variable"/>
        </sequence>
    </complexType>

    <complexType name="Process">
        <annotation>
            <documentation>The main business process, which must contain exactly one root Activity element.</documentation>
        </annotation>
        <sequence>
            <element ref="tns:activity"/>
            <element name="variables" type="tns:Variables" minOccurs="0"/>
            <element name="bypassAssignee" type="string" minOccurs="0"/>
            <element name="bypassCandidateUsers" type="string" minOccurs="0"/>
            <element name="bypassCandidateGroups" type="string" minOccurs="0"/>
        </sequence>
        <attribute name="name">
	        <annotation>
	            <documentation>
	            	<![CDATA[
	            	A name for the workflow process.  The name is intended for display to users.  For usability, the name should be
	            	unique relative to other workflow names that would appear in the same user interface.
	            	]]>
	            </documentation>
	        </annotation>        
        </attribute>
        <attribute name="key">
	        <annotation>
	            <documentation>
	            	<![CDATA[
	            	The system identifier for the workflow.  Must be globally unique for given deployment of the system.  
	            	The key is used to identify the workflow for all server API methods.  For convenience the key may be the
	            	same as the workflow name (assuming the name is globally unique) but this is not required.
	            	
	            	The key must be a valid URL path segment.
	            	]]>
	            </documentation>
	        </annotation>        
        </attribute>
        <attribute name="targetFormat" default="bpmn20">
        	<annotation>
        		<documentation>
        			<![CDATA[
        			Specifies the intended format into which the workflow should be converted in order to run
        			in the execution engine.
        			
        			Currently only "bpmn20" (BPMN 2.0) is supported.
        			]]>
        		</documentation>
        	</annotation>        
        </attribute>
        <attribute name="maxId" type="int" default="0" >
        	<annotation>
        		<documentation>
        			<![CDATA[
        			The maxId is used by the server as the starting point for generating unique keys for activities.
        			When submitting a new workflow to the server, the maxId should be not provided or should have a value
        			of "0". When submitting a revised workflow to the server, the maxId value MUST be the same as the value
        			provided by the server as part of the retrieved workflow.
        			]]>
        		</documentation>
        	</annotation>
        </attribute>
    </complexType>

    <complexType name="Activity" abstract="true">
        <annotation>
            <documentation>Abstract type used by all different types of process elements.</documentation>
        </annotation>
        <sequence>
            <element name="description" type="string" minOccurs="0">
                <annotation>
                    <documentation>Documentation for the process element.  For example, this could be used to describe a task in detail and could be available from the UI for users needing information on the details of performing a given task.</documentation>
                </annotation>
            </element>
        </sequence>
        <attribute name="name" type="string">
            <annotation>
                <documentation>The name is a user-entered short identifier that would be appropriate for display in the UI.  Uniqueness is not enforced but would be a best practice in order to avoid ambiguity of tasks displayed to a user.</documentation>
            </annotation>
        </attribute>
        <attribute name="key" type="string">
            <annotation>
                <documentation>
                	<![CDATA[
                	The key is a unique value used to identify an activity.  For some types of activities, the key
                	will be generated by the server.  Generated keys will begin with an underscore.  
                	When submitting a revised workflow to the server, any system generated keys should be preserved 
                	without modification. 
                	Activities with server generated keys are: Task, ServiceTask, Script, Subprocess,
                	Exit and Signal.
                	]]>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="bypassable" type="boolean" default="false">
            <annotation>
                <documentation>Indicates whether this activity supports the Bypass feature.</documentation>
            </annotation>
        </attribute>
        <attribute name="wrapped" type="boolean" default="false" use="optional">
            <annotation>
                <documentation>Temporary flag needed for internal processing by java code.  Do not use this attribute in XML documents.</documentation>
            </annotation>
        </attribute>
        <attribute name="percentComplete" type="integer"/>
        <attribute fixed="" name="completionState" type="string"/>

    </complexType>

    <complexType name="Task">
        <annotation>
            <documentation>A basic workflow task.</documentation>
        </annotation>
        <complexContent>
            <extension base="tns:Activity">
                <sequence>
                    <element name="assignee" type="string" minOccurs="0">
			            <annotation>
			                <documentation>
			                	<![CDATA[
			                	A single username to whom the task should always be assigned.
			                	]]>
			                </documentation>
			            </annotation>                    
                    </element>
                    <element name="candidateUsers" type="string" minOccurs="0">
			            <annotation>
			                <documentation>
			                	<![CDATA[
			                	A comma separated list of usernames, defining the users who are eligible to perform this task.
			                	Note that in general, the use of candidateGroups is preferred as a more flexible way to specify
			                	a task that can be performed by more than one person. 
			                	]]>
			                </documentation>
			            </annotation>
                    </element>
                    <element name="candidateGroups" type="string" minOccurs="0">
			            <annotation>
			                <documentation>
			                	<![CDATA[
			                	A comma separated list of group (role) names, defining one or more groups of users who
			                	are eligible to perform this task. 
			                	]]>
			                </documentation>
			            </annotation>                    
                    </element>
                    <element name="dueDate" type="string" minOccurs="0">
			            <annotation>
			                <documentation>
			                	<![CDATA[
			                	** NOT YET IMPLEMENTED **
			                	The dueDate has no meaning for a workflow definition, but would be used when the workflow 
			                	represents the current status of a particular workflow instance.
			                	]]>
			                </documentation>
			            </annotation>                    
                    </element>
                    <element name="completion" type="string" minOccurs="0"/>
                    <element name="createTime" type="dateTime" minOccurs="0"/>
                    <element name="endTime" type="dateTime" minOccurs="0"/> 
                    <element name="variables" type="tns:Variables" minOccurs="0"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="ServiceTask">
        <annotation>
            <documentation>A REST service call.</documentation>
        </annotation>
        <complexContent>
            <extension base="tns:Activity">
                <sequence>
                    <element name="method" minOccurs="1">
                        <simpleType>
                            <restriction base="string">
                                <enumeration value="GET"/>
                                <enumeration value="POST"/>
                            </restriction>
                        </simpleType>
                    </element>
                    <element name="url" type="string" minOccurs="1"/>
                    <element name="content" type="string" minOccurs="0"/>
                    <element name="var" type="string" minOccurs="0"/>
                    <element name="variables" type="tns:Variables" minOccurs="0"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="Decision">
        <annotation>
            <documentation>A Decision consists of a Task and a set of alternative Activity elements.  The Task represents a workflow step in which a decision is made as to which of the alternative Activities should be executed.</documentation>
        </annotation>
        <complexContent>
            <extension base="tns:Activity">
                <sequence maxOccurs="1">
                    <element ref="tns:task"/>
                    <element ref="tns:option" maxOccurs="unbounded" minOccurs="2"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="Activities">
        <annotation>
            <documentation>A set of multiple Activity elements, to be executed either in sequence or in parallel.</documentation>
        </annotation>
        <complexContent>
            <extension base="tns:Activity">
                <sequence>
                    <element ref="tns:activity" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="sequential" type="boolean" default="true">
                    <annotation>
                        <documentation>Indicates whether this set of activities should be treated as a simple sequence of steps, or as a set of parallel paths using Parallel Gateway semantics.</documentation>
                    </annotation>
                </attribute>
                <attribute name="mergeCondition" type="string">
                    <annotation>
                        <documentation>Expression used by the converging side of a Complex Gateway structure to determine how many of the incoming paths must copmlete before execution continues from the Gateway.</documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="SubProcess">
        <annotation>
            <documentation>An Activity that represents the execution of an independent workflow defined elsewhere.</documentation>
        </annotation>
        <complexContent>
            <extension base="tns:Activity">
                <sequence>
					<element name="variables" type="tns:Variables" minOccurs="0"/>
                </sequence>
                <attribute name="sub-process-key"/>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="Option">
        <annotation>
            <documentation>One of the alternative paths contained within a Decision</documentation>
        </annotation>
        <sequence maxOccurs="1">
            <element ref="tns:activity"/>
        </sequence>
        <attribute name="name"/>
    </complexType>

    <complexType name="Loop">
        <annotation>
            <documentation>A Loop contains an Activity and a Task. The Task represents a workflow step in which a decision maker determines whether the Activity should be repeated.  A typical use for a Loop structure would be to implement an approval process.</documentation>
        </annotation>
        <complexContent>
            <extension base="tns:Activity">
                <sequence>
                    <element ref="tns:activity"/>
                    <element name="loopTask" type="tns:Task"/>
                </sequence>
                <attribute default="Done" name="doneName" type="string"/>
                <attribute default="Repeat" name="repeatName" type="string"/>
                <attribute name="executionCount" type="integer"/>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="Exit">
        <annotation>
            <documentation>This activity will simply cause the workflow to exit, regardless of its current execution state.</documentation>
        </annotation>
        <complexContent>
            <extension base="tns:Activity">
                <attribute name="state" type="string">
			            <annotation>
			                <documentation>
			                	<![CDATA[
			                	A unique identifier (relative to other Exit nodes for a given workflow) that is used to indicate
			                	which Exit path was taken.  
			                	]]>
			                </documentation>
			            </annotation>                
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    
    <complexType name="Signal">
        <annotation>
            <documentation>This activity waits for an external signal trigger.</documentation>
        </annotation>
        <complexContent>
            <extension base="tns:Activity" >
            	<attribute name="signalId" type="string">
			            <annotation>
			                <documentation>
			                	<![CDATA[
			                	An arbitrary string identifier, which must be unique relative to other Signals within a given
			                	workflow.  This token is used to "trigger" the signal.
			                	]]>
			                </documentation>
			            </annotation>            	
            	</attribute>
            </extension>
        </complexContent>
    </complexType>    
    
    <complexType name="Script">
        <annotation>
            <documentation>This activity executes a script.</documentation>
        </annotation>
        <complexContent>
            <extension base="tns:Activity" >
            	<sequence>
            		<element name="import" type="string" minOccurs="0" maxOccurs="unbounded" />
            		<element name="content" type="string"/>
            	</sequence>
            	<attribute name="scriptFormat" type="string" />
            </extension>
        </complexContent>
    </complexType>       
     
</schema>
