cow-server-api/src/main/xsd/Semantic.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Approved for Public Release: 10-4800. Distribution Unlimited.
    Copyright 2014 The MITRE Corporation,
    Licensed under the Apache License,
    Version 2.0 (the "License");

    You may not use this file except in compliance with the License.
    You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    either express or implied.

    See the License for the specific language governing permissions and limitations under the License.

--><xsd:schema xmlns="http://www.omg.org/spec/BPMN/20100524/MODEL" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.omg.org/spec/BPMN/20100524/MODEL">

	<xsd:element name="activity" type="tActivity"/>
	<xsd:complexType abstract="true" name="tActivity">
		<xsd:complexContent>
			<xsd:extension base="tFlowNode">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" ref="ioSpecification"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="property"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="dataInputAssociation"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="dataOutputAssociation"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="resourceRole"/>
					<xsd:element minOccurs="0" ref="loopCharacteristics"/>
				</xsd:sequence>
				<xsd:attribute default="false" name="isForCompensation" type="xsd:boolean"/>
				<xsd:attribute default="1" name="startQuantity" type="xsd:integer"/>
				<xsd:attribute default="1" name="completionQuantity" type="xsd:integer"/>
				<xsd:attribute name="default" type="xsd:IDREF" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="adHocSubProcess" substitutionGroup="flowElement" type="tAdHocSubProcess"/>
	<xsd:complexType name="tAdHocSubProcess">
		<xsd:complexContent>
			<xsd:extension base="tSubProcess">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="completionCondition" type="tExpression"/>
				</xsd:sequence>
				<xsd:attribute default="true" name="cancelRemainingInstances" type="xsd:boolean"/>
				<xsd:attribute name="ordering" type="tAdHocOrdering"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="tAdHocOrdering">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Parallel"/>
			<xsd:enumeration value="Sequential"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="artifact" type="tArtifact"/>
	<xsd:complexType abstract="true" name="tArtifact">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="assignment" type="tAssignment"/>
	<xsd:complexType name="tAssignment">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="from" type="tExpression"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="to" type="tExpression"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="association" substitutionGroup="artifact" type="tAssociation"/>
	<xsd:complexType name="tAssociation">
		<xsd:complexContent>
			<xsd:extension base="tArtifact">
				<xsd:attribute name="sourceRef" type="xsd:QName" use="required"/>
				<xsd:attribute name="targetRef" type="xsd:QName" use="required"/>
				<xsd:attribute default="None" name="associationDirection" type="tAssociationDirection"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="tAssociationDirection">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="None"/>
			<xsd:enumeration value="One"/>
			<xsd:enumeration value="Both"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="auditing" type="tAuditing"/>
	<xsd:complexType name="tAuditing">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="baseElement" type="tBaseElement"/>
	<xsd:complexType abstract="true" name="tBaseElement">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="documentation"/>
			<xsd:element maxOccurs="1" minOccurs="0" ref="extensionElements"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID" use="optional"/>
		<xsd:anyAttribute namespace="##other" processContents="lax"/>
	</xsd:complexType>

	<xsd:element name="baseElementWithMixedContent" type="tBaseElementWithMixedContent"/>
	<xsd:complexType abstract="true" mixed="true" name="tBaseElementWithMixedContent">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="documentation"/>
			<xsd:element maxOccurs="1" minOccurs="0" ref="extensionElements"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID" use="optional"/>
		<xsd:anyAttribute namespace="##other" processContents="lax"/>
	</xsd:complexType>

	<xsd:element name="boundaryEvent" substitutionGroup="flowElement" type="tBoundaryEvent"/>
	<xsd:complexType name="tBoundaryEvent">
		<xsd:complexContent>
			<xsd:extension base="tCatchEvent">
				<xsd:attribute default="true" name="cancelActivity" type="xsd:boolean"/>
				<xsd:attribute name="attachedToRef" type="xsd:QName" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="businessRuleTask" substitutionGroup="flowElement" type="tBusinessRuleTask"/>
	<xsd:complexType name="tBusinessRuleTask">
		<xsd:complexContent>
			<xsd:extension base="tTask">
				<xsd:attribute default="##unspecified" name="implementation" type="tImplementation"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="callableElement" type="tCallableElement"/>
	<xsd:complexType name="tCallableElement">
		<xsd:complexContent>
			<xsd:extension base="tRootElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="supportedInterfaceRef" type="xsd:QName"/>
					<xsd:element maxOccurs="1" minOccurs="0" ref="ioSpecification"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="ioBinding"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="callActivity" substitutionGroup="flowElement" type="tCallActivity"/>
	<xsd:complexType name="tCallActivity">
		<xsd:complexContent>
			<xsd:extension base="tActivity">
				<xsd:attribute name="calledElement" type="xsd:QName" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="callChoreography" substitutionGroup="flowElement" type="tCallChoreography"/>
	<xsd:complexType name="tCallChoreography">
		<xsd:complexContent>
			<xsd:extension base="tChoreographyActivity">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="participantAssociation"/>
				</xsd:sequence>
				<xsd:attribute name="calledChoreographyRef" type="xsd:QName" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="callConversation" substitutionGroup="conversationNode" type="tCallConversation"/>
	<xsd:complexType name="tCallConversation">
		<xsd:complexContent>
			<xsd:extension base="tConversationNode">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="participantAssociation"/>
				</xsd:sequence>
				<xsd:attribute name="calledCollaborationRef" type="xsd:QName" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="cancelEventDefinition" substitutionGroup="eventDefinition" type="tCancelEventDefinition"/>
	<xsd:complexType name="tCancelEventDefinition">
		<xsd:complexContent>
			<xsd:extension base="tEventDefinition"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="catchEvent" type="tCatchEvent"/>
	<xsd:complexType abstract="true" name="tCatchEvent">
		<xsd:complexContent>
			<xsd:extension base="tEvent">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="dataOutput"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="dataOutputAssociation"/>
					<xsd:element maxOccurs="1" minOccurs="0" ref="outputSet"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="eventDefinition"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="eventDefinitionRef" type="xsd:QName"/>
				</xsd:sequence>
				<xsd:attribute default="false" name="parallelMultiple" type="xsd:boolean"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="category" substitutionGroup="rootElement" type="tCategory"/>
	<xsd:complexType name="tCategory">
		<xsd:complexContent>
			<xsd:extension base="tRootElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="categoryValue"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="categoryValue" type="tCategoryValue"/>
	<xsd:complexType name="tCategoryValue">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:attribute name="value" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="choreography" substitutionGroup="collaboration" type="tChoreography"/>
	<xsd:complexType name="tChoreography">
		<xsd:complexContent>
			<xsd:extension base="tCollaboration">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="flowElement"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="choreographyActivity" type="tChoreographyActivity"/>
	<xsd:complexType abstract="true" name="tChoreographyActivity">
		<xsd:complexContent>
			<xsd:extension base="tFlowNode">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="2" name="participantRef" type="xsd:QName"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="correlationKey"/>
				</xsd:sequence>
				<xsd:attribute name="initiatingParticipantRef" type="xsd:QName" use="required"/>
				<xsd:attribute default="None" name="loopType" type="tChoreographyLoopType"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="tChoreographyLoopType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="None"/>
			<xsd:enumeration value="Standard"/>
			<xsd:enumeration value="MultiInstanceSequential"/>
			<xsd:enumeration value="MultiInstanceParallel"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="choreographyTask" substitutionGroup="flowElement" type="tChoreographyTask"/>
	<xsd:complexType name="tChoreographyTask">
		<xsd:complexContent>
			<xsd:extension base="tChoreographyActivity">
				<xsd:sequence>
					<xsd:element maxOccurs="2" minOccurs="1" name="messageFlowRef" type="xsd:QName"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="collaboration" substitutionGroup="rootElement" type="tCollaboration"/>
	<xsd:complexType name="tCollaboration">
		<xsd:complexContent>
			<xsd:extension base="tRootElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="participant"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="messageFlow"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="artifact"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="conversationNode"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="conversationAssociation"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="participantAssociation"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="messageFlowAssociation"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="correlationKey"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="choreographyRef" type="xsd:QName"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="conversationLink"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string"/>
				<xsd:attribute default="false" name="isClosed" type="xsd:boolean"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="compensateEventDefinition" substitutionGroup="eventDefinition" type="tCompensateEventDefinition"/>
	<xsd:complexType name="tCompensateEventDefinition">
		<xsd:complexContent>
			<xsd:extension base="tEventDefinition">
				<xsd:attribute name="waitForCompletion" type="xsd:boolean"/>
				<xsd:attribute name="activityRef" type="xsd:QName"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="complexBehaviorDefinition" type="tComplexBehaviorDefinition"/>
	<xsd:complexType name="tComplexBehaviorDefinition">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="condition" type="tFormalExpression"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="event" type="tImplicitThrowEvent"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="complexGateway" substitutionGroup="flowElement" type="tComplexGateway"/>
	<xsd:complexType name="tComplexGateway">
		<xsd:complexContent>
			<xsd:extension base="tGateway">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="activationCondition" type="tExpression"/>
				</xsd:sequence>
				<xsd:attribute name="default" type="xsd:IDREF"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="conditionalEventDefinition" substitutionGroup="eventDefinition" type="tConditionalEventDefinition"/>
	<xsd:complexType name="tConditionalEventDefinition">
		<xsd:complexContent>
			<xsd:extension base="tEventDefinition">
				<xsd:sequence>
					<xsd:element name="condition" type="tExpression"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="conversation" substitutionGroup="conversationNode" type="tConversation"/>
	<xsd:complexType name="tConversation">
		<xsd:complexContent>
			<xsd:extension base="tConversationNode"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="conversationAssociation" type="tConversationAssociation"/>
	<xsd:complexType name="tConversationAssociation">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:attribute name="innerConversationNodeRef" type="xsd:QName" use="required"/>
				<xsd:attribute name="outerConversationNodeRef" type="xsd:QName" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="conversationLink" type="tConversationLink"/>
	<xsd:complexType name="tConversationLink">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:attribute name="name" type="xsd:string" use="optional"/>
				<xsd:attribute name="sourceRef" type="xsd:QName" use="required"/>
				<xsd:attribute name="targetRef" type="xsd:QName" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="conversationNode" type="tConversationNode"/>
	<xsd:complexType abstract="true" name="tConversationNode">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="participantRef" type="xsd:QName"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="messageFlowRef" type="xsd:QName"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="correlationKey"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="correlationKey" type="tCorrelationKey"/>
	<xsd:complexType name="tCorrelationKey">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="correlationPropertyRef" type="xsd:QName"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="correlationProperty" substitutionGroup="rootElement" type="tCorrelationProperty"/>
	<xsd:complexType name="tCorrelationProperty">
		<xsd:complexContent>
			<xsd:extension base="tRootElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" ref="correlationPropertyRetrievalExpression"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string" use="optional"/>
				<xsd:attribute name="type" type="xsd:QName"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="correlationPropertyBinding" type="tCorrelationPropertyBinding"/>
	<xsd:complexType name="tCorrelationPropertyBinding">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="dataPath" type="tFormalExpression"/>
				</xsd:sequence>
				<xsd:attribute name="correlationPropertyRef" type="xsd:QName" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="correlationPropertyRetrievalExpression" type="tCorrelationPropertyRetrievalExpression"/>
	<xsd:complexType name="tCorrelationPropertyRetrievalExpression">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="messagePath" type="tFormalExpression"/>
				</xsd:sequence>
				<xsd:attribute name="messageRef" type="xsd:QName" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="correlationSubscription" type="tCorrelationSubscription"/>
	<xsd:complexType name="tCorrelationSubscription">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="correlationPropertyBinding"/>
				</xsd:sequence>
				<xsd:attribute name="correlationKeyRef" type="xsd:QName" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="dataAssociation" type="tDataAssociation"/>
	<xsd:complexType name="tDataAssociation">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="sourceRef" type="xsd:IDREF"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="targetRef" type="xsd:IDREF"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="transformation" type="tFormalExpression"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="assignment"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="dataInput" type="tDataInput"/>
	<xsd:complexType name="tDataInput">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" ref="dataState"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string" use="optional"/>
				<xsd:attribute name="itemSubjectRef" type="xsd:QName"/>
				<xsd:attribute default="false" name="isCollection" type="xsd:boolean"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="dataInputAssociation" type="tDataInputAssociation"/>
	<xsd:complexType name="tDataInputAssociation">
		<xsd:complexContent>
			<xsd:extension base="tDataAssociation"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="dataObject" substitutionGroup="flowElement" type="tDataObject"/>
	<xsd:complexType name="tDataObject">
		<xsd:complexContent>
			<xsd:extension base="tFlowElement">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" ref="dataState"/>
				</xsd:sequence>
				<xsd:attribute name="itemSubjectRef" type="xsd:QName"/>
				<xsd:attribute default="false" name="isCollection" type="xsd:boolean"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="dataObjectReference" substitutionGroup="flowElement" type="tDataObjectReference"/>
	<xsd:complexType name="tDataObjectReference">
		<xsd:complexContent>
			<xsd:extension base="tFlowElement">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" ref="dataState"/>
				</xsd:sequence>
				<xsd:attribute name="itemSubjectRef" type="xsd:QName"/>
				<xsd:attribute name="dataObjectRef" type="xsd:IDREF"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="dataOutput" type="tDataOutput"/>
	<xsd:complexType name="tDataOutput">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" ref="dataState"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string" use="optional"/>
				<xsd:attribute name="itemSubjectRef" type="xsd:QName"/>
				<xsd:attribute default="false" name="isCollection" type="xsd:boolean"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="dataOutputAssociation" type="tDataOutputAssociation"/>
	<xsd:complexType name="tDataOutputAssociation">
		<xsd:complexContent>
			<xsd:extension base="tDataAssociation"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="dataState" type="tDataState"/>
	<xsd:complexType name="tDataState">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="dataStore" substitutionGroup="rootElement" type="tDataStore"/>
	<xsd:complexType name="tDataStore">
		<xsd:complexContent>
			<xsd:extension base="tRootElement">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" ref="dataState"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string"/>
				<xsd:attribute name="capacity" type="xsd:integer"/>
				<xsd:attribute default="true" name="isUnlimited" type="xsd:boolean"/>
				<xsd:attribute name="itemSubjectRef" type="xsd:QName"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="dataStoreReference" substitutionGroup="flowElement" type="tDataStoreReference"/>
	<xsd:complexType name="tDataStoreReference">
		<xsd:complexContent>
			<xsd:extension base="tFlowElement">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" ref="dataState"/>
				</xsd:sequence>
				<xsd:attribute name="itemSubjectRef" type="xsd:QName"/>
				<xsd:attribute name="dataStoreRef" type="xsd:QName"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="documentation" type="tDocumentation"/>
	<xsd:complexType mixed="true" name="tDocumentation">
		<xsd:sequence>
			<xsd:any minOccurs="0" namespace="##any" processContents="lax"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID" use="optional"/>
		<xsd:attribute default="text/plain" name="textFormat" type="xsd:string"/>
	</xsd:complexType>

	<xsd:element name="endEvent" substitutionGroup="flowElement" type="tEndEvent"/>
	<xsd:complexType name="tEndEvent">
		<xsd:complexContent>
			<xsd:extension base="tThrowEvent"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="endPoint" substitutionGroup="rootElement" type="tEndPoint"/>
	<xsd:complexType name="tEndPoint">
		<xsd:complexContent>
			<xsd:extension base="tRootElement"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="error" substitutionGroup="rootElement" type="tError"/>
	<xsd:complexType name="tError">
		<xsd:complexContent>
			<xsd:extension base="tRootElement">
				<xsd:attribute name="name" type="xsd:string"/>
				<xsd:attribute name="errorCode" type="xsd:string"/>
				<xsd:attribute name="structureRef" type="xsd:QName"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="errorEventDefinition" substitutionGroup="eventDefinition" type="tErrorEventDefinition"/>
	<xsd:complexType name="tErrorEventDefinition">
		<xsd:complexContent>
			<xsd:extension base="tEventDefinition">
				<xsd:attribute name="errorRef" type="xsd:QName"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="escalation" substitutionGroup="rootElement" type="tEscalation"/>
	<xsd:complexType name="tEscalation">
		<xsd:complexContent>
			<xsd:extension base="tRootElement">
				<xsd:attribute name="name" type="xsd:string"/>
				<xsd:attribute name="escalationCode" type="xsd:string"/>
				<xsd:attribute name="structureRef" type="xsd:QName"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="escalationEventDefinition" substitutionGroup="eventDefinition" type="tEscalationEventDefinition"/>
	<xsd:complexType name="tEscalationEventDefinition">
		<xsd:complexContent>
			<xsd:extension base="tEventDefinition">
				<xsd:attribute name="escalationRef" type="xsd:QName"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="event" substitutionGroup="flowElement" type="tEvent"/>
	<xsd:complexType abstract="true" name="tEvent">
		<xsd:complexContent>
			<xsd:extension base="tFlowNode">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="property"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="eventBasedGateway" substitutionGroup="flowElement" type="tEventBasedGateway"/>
	<xsd:complexType name="tEventBasedGateway">
		<xsd:complexContent>
			<xsd:extension base="tGateway">
				<xsd:attribute default="false" name="instantiate" type="xsd:boolean"/>
				<xsd:attribute default="Exclusive" name="eventGatewayType" type="tEventBasedGatewayType"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="tEventBasedGatewayType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Exclusive"/>
			<xsd:enumeration value="Parallel"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="eventDefinition" substitutionGroup="rootElement" type="tEventDefinition"/>
	<xsd:complexType abstract="true" name="tEventDefinition">
		<xsd:complexContent>
			<xsd:extension base="tRootElement"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="exclusiveGateway" substitutionGroup="flowElement" type="tExclusiveGateway"/>
	<xsd:complexType name="tExclusiveGateway">
		<xsd:complexContent>
			<xsd:extension base="tGateway">
				<xsd:attribute name="default" type="xsd:IDREF" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="expression" type="tExpression"/>
	<xsd:complexType name="tExpression">
		<xsd:complexContent>
			<xsd:extension base="tBaseElementWithMixedContent"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="extension" type="tExtension"/>
	<xsd:complexType name="tExtension">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="documentation"/>
		</xsd:sequence>
		<xsd:attribute name="definition" type="xsd:QName"/>
		<xsd:attribute default="false" name="mustUnderstand" type="xsd:boolean" use="optional"/>
	</xsd:complexType>

	<xsd:element name="extensionElements" type="tExtensionElements"/>
	<xsd:complexType name="tExtensionElements">
		<xsd:sequence>
			<xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="flowElement" type="tFlowElement"/>
	<xsd:complexType abstract="true" name="tFlowElement">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" ref="auditing"/>
					<xsd:element maxOccurs="1" minOccurs="0" ref="monitoring"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="categoryValueRef" type="xsd:QName"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="flowNode" type="tFlowNode"/>
	<xsd:complexType abstract="true" name="tFlowNode">
		<xsd:complexContent>
			<xsd:extension base="tFlowElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="incoming" type="xsd:QName"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="outgoing" type="xsd:QName"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="formalExpression" substitutionGroup="expression" type="tFormalExpression"/>
	<xsd:complexType name="tFormalExpression">
		<xsd:complexContent>
			<xsd:extension base="tExpression">
				<xsd:attribute name="language" type="xsd:anyURI" use="optional"/>
				<xsd:attribute name="evaluatesToTypeRef" type="xsd:QName"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element abstract="true" name="gateway" type="tGateway"/>
	<xsd:complexType name="tGateway">
		<xsd:complexContent>
			<xsd:extension base="tFlowNode">
				<xsd:attribute default="Unspecified" name="gatewayDirection" type="tGatewayDirection"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="tGatewayDirection">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Unspecified"/>
			<xsd:enumeration value="Converging"/>
			<xsd:enumeration value="Diverging"/>
			<xsd:enumeration value="Mixed"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="globalBusinessRuleTask" substitutionGroup="rootElement" type="tGlobalBusinessRuleTask"/>
	<xsd:complexType name="tGlobalBusinessRuleTask">
		<xsd:complexContent>
			<xsd:extension base="tGlobalTask">
				<xsd:attribute default="##unspecified" name="implementation" type="tImplementation"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="globalChoreographyTask" substitutionGroup="choreography" type="tGlobalChoreographyTask"/>
	<xsd:complexType name="tGlobalChoreographyTask">
		<xsd:complexContent>
			<xsd:extension base="tChoreography">
				<xsd:attribute name="initiatingParticipantRef" type="xsd:QName"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="globalConversation" substitutionGroup="collaboration" type="tGlobalConversation"/>
	<xsd:complexType name="tGlobalConversation">
		<xsd:complexContent>
			<xsd:extension base="tCollaboration"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="globalManualTask" substitutionGroup="rootElement" type="tGlobalManualTask"/>
	<xsd:complexType name="tGlobalManualTask">
		<xsd:complexContent>
			<xsd:extension base="tGlobalTask"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="globalScriptTask" substitutionGroup="rootElement" type="tGlobalScriptTask"/>
	<xsd:complexType name="tGlobalScriptTask">
		<xsd:complexContent>
			<xsd:extension base="tGlobalTask">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" ref="script"/>
				</xsd:sequence>
				<xsd:attribute name="scriptLanguage" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="globalTask" substitutionGroup="rootElement" type="tGlobalTask"/>
	<xsd:complexType name="tGlobalTask">
		<xsd:complexContent>
			<xsd:extension base="tCallableElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="resourceRole"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="globalUserTask" substitutionGroup="rootElement" type="tGlobalUserTask"/>
	<xsd:complexType name="tGlobalUserTask">
		<xsd:complexContent>
			<xsd:extension base="tGlobalTask">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="rendering"/>
				</xsd:sequence>
				<xsd:attribute default="##unspecified" name="implementation" type="tImplementation"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="group" substitutionGroup="artifact" type="tGroup"/>
	<xsd:complexType name="tGroup">
		<xsd:complexContent>
			<xsd:extension base="tArtifact">
				<xsd:attribute name="categoryValueRef" type="xsd:QName" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="humanPerformer" substitutionGroup="performer" type="tHumanPerformer"/>
	<xsd:complexType name="tHumanPerformer">
		<xsd:complexContent>
			<xsd:extension base="tPerformer"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="tImplementation">
		<xsd:union memberTypes="xsd:anyURI">
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="##unspecified"/>
					<xsd:enumeration value="##WebService"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>

	<xsd:element name="implicitThrowEvent" substitutionGroup="flowElement" type="tImplicitThrowEvent"/>
	<xsd:complexType name="tImplicitThrowEvent">
		<xsd:complexContent>
			<xsd:extension base="tThrowEvent"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="inclusiveGateway" substitutionGroup="flowElement" type="tInclusiveGateway"/>
	<xsd:complexType name="tInclusiveGateway">
		<xsd:complexContent>
			<xsd:extension base="tGateway">
				<xsd:attribute name="default" type="xsd:IDREF" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="inputSet" type="tInputSet"/>
	<xsd:complexType name="tInputSet">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="dataInputRefs" type="xsd:IDREF"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="optionalInputRefs" type="xsd:IDREF"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="whileExecutingInputRefs" type="xsd:IDREF"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="outputSetRefs" type="xsd:IDREF"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="interface" substitutionGroup="rootElement" type="tInterface"/>
	<xsd:complexType name="tInterface">
		<xsd:complexContent>
			<xsd:extension base="tRootElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" ref="operation"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string" use="required"/>
				<xsd:attribute name="implementationRef" type="xsd:QName"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="intermediateCatchEvent" substitutionGroup="flowElement" type="tIntermediateCatchEvent"/>
	<xsd:complexType name="tIntermediateCatchEvent">
		<xsd:complexContent>
			<xsd:extension base="tCatchEvent"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="intermediateThrowEvent" substitutionGroup="flowElement" type="tIntermediateThrowEvent"/>
	<xsd:complexType name="tIntermediateThrowEvent">
		<xsd:complexContent>
			<xsd:extension base="tThrowEvent"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="ioBinding" type="tInputOutputBinding"/>
	<xsd:complexType name="tInputOutputBinding">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:attribute name="operationRef" type="xsd:QName" use="required"/>
				<xsd:attribute name="inputDataRef" type="xsd:IDREF" use="required"/>
				<xsd:attribute name="outputDataRef" type="xsd:IDREF" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="ioSpecification" type="tInputOutputSpecification"/>
	<xsd:complexType name="tInputOutputSpecification">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="dataInput"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="dataOutput"/>
					<xsd:element maxOccurs="unbounded" minOccurs="1" ref="inputSet"/>
					<xsd:element maxOccurs="unbounded" minOccurs="1" ref="outputSet"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="itemDefinition" substitutionGroup="rootElement" type="tItemDefinition"/>
	<xsd:complexType name="tItemDefinition">
		<xsd:complexContent>
			<xsd:extension base="tRootElement">
				<xsd:attribute name="structureRef" type="xsd:QName"/>
				<xsd:attribute default="false" name="isCollection" type="xsd:boolean"/>
				<xsd:attribute default="Information" name="itemKind" type="tItemKind"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="tItemKind">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Information"/>
			<xsd:enumeration value="Physical"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="lane" type="tLane"/>
	<xsd:complexType name="tLane">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="partitionElement" type="tBaseElement"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="flowNodeRef" type="xsd:IDREF"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="childLaneSet" type="tLaneSet"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string"/>
				<xsd:attribute name="partitionElementRef" type="xsd:QName"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="laneSet" type="tLaneSet"/>
	<xsd:complexType name="tLaneSet">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="lane"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="linkEventDefinition" substitutionGroup="eventDefinition" type="tLinkEventDefinition"/>
	<xsd:complexType name="tLinkEventDefinition">
		<xsd:complexContent>
			<xsd:extension base="tEventDefinition">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="source" type="xsd:QName"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="target" type="xsd:QName"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="loopCharacteristics" type="tLoopCharacteristics"/>
	<xsd:complexType abstract="true" name="tLoopCharacteristics">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="manualTask" substitutionGroup="flowElement" type="tManualTask"/>
	<xsd:complexType name="tManualTask">
		<xsd:complexContent>
			<xsd:extension base="tTask"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="message" substitutionGroup="rootElement" type="tMessage"/>
	<xsd:complexType name="tMessage">
		<xsd:complexContent>
			<xsd:extension base="tRootElement">
				<xsd:attribute name="name" type="xsd:string"/>
				<xsd:attribute name="itemRef" type="xsd:QName"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="messageEventDefinition" substitutionGroup="eventDefinition" type="tMessageEventDefinition"/>
	<xsd:complexType name="tMessageEventDefinition">
		<xsd:complexContent>
			<xsd:extension base="tEventDefinition">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="operationRef" type="xsd:QName"/>
				</xsd:sequence>
				<xsd:attribute name="messageRef" type="xsd:QName"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="messageFlow" type="tMessageFlow"/>
	<xsd:complexType name="tMessageFlow">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:attribute name="name" type="xsd:string" use="optional"/>
				<xsd:attribute name="sourceRef" type="xsd:QName" use="required"/>
				<xsd:attribute name="targetRef" type="xsd:QName" use="required"/>
				<xsd:attribute name="messageRef" type="xsd:QName"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="messageFlowAssociation" type="tMessageFlowAssociation"/>
	<xsd:complexType name="tMessageFlowAssociation">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:attribute name="innerMessageFlowRef" type="xsd:QName" use="required"/>
				<xsd:attribute name="outerMessageFlowRef" type="xsd:QName" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="monitoring" type="tMonitoring"/>
	<xsd:complexType name="tMonitoring">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="multiInstanceLoopCharacteristics" substitutionGroup="loopCharacteristics" type="tMultiInstanceLoopCharacteristics"/>
	<xsd:complexType name="tMultiInstanceLoopCharacteristics">
		<xsd:complexContent>
			<xsd:extension base="tLoopCharacteristics">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="loopCardinality" type="tExpression"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="loopDataInputRef" type="xsd:QName"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="loopDataOutputRef" type="xsd:QName"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="inputDataItem" type="tDataInput"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="outputDataItem" type="tDataOutput"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="complexBehaviorDefinition"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="completionCondition" type="tExpression"/>
				</xsd:sequence>
				<xsd:attribute default="false" name="isSequential" type="xsd:boolean"/>
				<xsd:attribute default="All" name="behavior" type="tMultiInstanceFlowCondition"/>
				<xsd:attribute name="oneBehaviorEventRef" type="xsd:QName" use="optional"/>
				<xsd:attribute name="noneBehaviorEventRef" type="xsd:QName" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="tMultiInstanceFlowCondition">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="None"/>
			<xsd:enumeration value="One"/>
			<xsd:enumeration value="All"/>
			<xsd:enumeration value="Complex"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="operation" type="tOperation"/>
	<xsd:complexType name="tOperation">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="inMessageRef" type="xsd:QName"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="outMessageRef" type="xsd:QName"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="errorRef" type="xsd:QName"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string" use="required"/>
				<xsd:attribute name="implementationRef" type="xsd:QName"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="outputSet" type="tOutputSet"/>
	<xsd:complexType name="tOutputSet">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="dataOutputRefs" type="xsd:IDREF"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="optionalOutputRefs" type="xsd:IDREF"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="whileExecutingOutputRefs" type="xsd:IDREF"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="inputSetRefs" type="xsd:IDREF"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="parallelGateway" substitutionGroup="flowElement" type="tParallelGateway"/>
	<xsd:complexType name="tParallelGateway">
		<xsd:complexContent>
			<xsd:extension base="tGateway"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="participant" type="tParticipant"/>
	<xsd:complexType name="tParticipant">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="interfaceRef" type="xsd:QName"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="endPointRef" type="xsd:QName"/>
					<xsd:element maxOccurs="1" minOccurs="0" ref="participantMultiplicity"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string"/>
				<xsd:attribute name="processRef" type="xsd:QName" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="participantAssociation" type="tParticipantAssociation"/>
	<xsd:complexType name="tParticipantAssociation">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="innerParticipantRef" type="xsd:QName"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="outerParticipantRef" type="xsd:QName"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="participantMultiplicity" type="tParticipantMultiplicity"/>
	<xsd:complexType name="tParticipantMultiplicity">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:attribute default="0" name="minimum" type="xsd:int"/>
				<xsd:attribute default="1" name="maximum" type="xsd:int"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="partnerEntity" substitutionGroup="rootElement" type="tPartnerEntity"/>
	<xsd:complexType name="tPartnerEntity">
		<xsd:complexContent>
			<xsd:extension base="tRootElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="participantRef" type="xsd:QName"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="partnerRole" substitutionGroup="rootElement" type="tPartnerRole"/>
	<xsd:complexType name="tPartnerRole">
		<xsd:complexContent>
			<xsd:extension base="tRootElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="participantRef" type="xsd:QName"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="performer" substitutionGroup="resourceRole" type="tPerformer"/>
	<xsd:complexType name="tPerformer">
		<xsd:complexContent>
			<xsd:extension base="tResourceRole"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="potentialOwner" substitutionGroup="performer" type="tPotentialOwner"/>
	<xsd:complexType name="tPotentialOwner">
		<xsd:complexContent>
			<xsd:extension base="tHumanPerformer"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="process" substitutionGroup="rootElement" type="tProcess"/>
	<xsd:complexType name="tProcess">
		<xsd:complexContent>
			<xsd:extension base="tCallableElement">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" ref="auditing"/>
					<xsd:element maxOccurs="1" minOccurs="0" ref="monitoring"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="property"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="laneSet"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="flowElement"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="artifact"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="resourceRole"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="correlationSubscription"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="supports" type="xsd:QName"/>
				</xsd:sequence>
				<xsd:attribute default="None" name="processType" type="tProcessType"/>
				<xsd:attribute default="false" name="isClosed" type="xsd:boolean"/>
				<xsd:attribute name="isExecutable" type="xsd:boolean"/>
				<xsd:attribute name="definitionalCollaborationRef" type="xsd:QName" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="tProcessType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="None"/>
			<xsd:enumeration value="Public"/>
			<xsd:enumeration value="Private"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="property" type="tProperty"/>
	<xsd:complexType name="tProperty">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" ref="dataState"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string"/>
				<xsd:attribute name="itemSubjectRef" type="xsd:QName"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="receiveTask" substitutionGroup="flowElement" type="tReceiveTask"/>
	<xsd:complexType name="tReceiveTask">
		<xsd:complexContent>
			<xsd:extension base="tTask">
				<xsd:attribute default="##WebService" name="implementation" type="tImplementation"/>
				<xsd:attribute default="false" name="instantiate" type="xsd:boolean"/>
				<xsd:attribute name="messageRef" type="xsd:QName" use="optional"/>
				<xsd:attribute name="operationRef" type="xsd:QName" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="relationship" type="tRelationship"/>
	<xsd:complexType name="tRelationship">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="source" type="xsd:QName"/>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="target" type="xsd:QName"/>
				</xsd:sequence>
				<xsd:attribute name="type" type="xsd:string" use="required"/>
				<xsd:attribute name="direction" type="tRelationshipDirection"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="tRelationshipDirection">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="None"/>
			<xsd:enumeration value="Forward"/>
			<xsd:enumeration value="Backward"/>
			<xsd:enumeration value="Both"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="rendering" type="tRendering"/>
	<xsd:complexType name="tRendering">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="resource" substitutionGroup="rootElement" type="tResource"/>
	<xsd:complexType name="tResource">
		<xsd:complexContent>
			<xsd:extension base="tRootElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="resourceParameter"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="resourceAssignmentExpression" type="tResourceAssignmentExpression"/>
	<xsd:complexType name="tResourceAssignmentExpression">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" ref="expression"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="resourceParameter" type="tResourceParameter"/>
	<xsd:complexType name="tResourceParameter">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:attribute name="name" type="xsd:string"/>
				<xsd:attribute name="type" type="xsd:QName"/>
				<xsd:attribute name="isRequired" type="xsd:boolean"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="resourceParameterBinding" type="tResourceParameterBinding"/>
	<xsd:complexType name="tResourceParameterBinding">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" ref="expression"/>
				</xsd:sequence>
				<xsd:attribute name="parameterRef" type="xsd:QName" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="resourceRole" type="tResourceRole"/>
	<xsd:complexType name="tResourceRole">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement">
				<xsd:choice>
					<xsd:sequence>
						<xsd:element name="resourceRef" type="xsd:QName"/>
						<xsd:element maxOccurs="unbounded" minOccurs="0" ref="resourceParameterBinding"/>
					</xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" ref="resourceAssignmentExpression"/>
				</xsd:choice>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="rootElement" type="tRootElement"/>
	<xsd:complexType abstract="true" name="tRootElement">
		<xsd:complexContent>
			<xsd:extension base="tBaseElement"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="scriptTask" substitutionGroup="flowElement" type="tScriptTask"/>
	<xsd:complexType name="tScriptTask">
		<xsd:complexContent>
			<xsd:extension base="tTask">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" ref="script"/>
				</xsd:sequence>
				<xsd:attribute name="scriptFormat" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="script" type="tScript"/>
	<xsd:complexType mixed="true" name="tScript">
		<xsd:sequence>
			<xsd:any minOccurs="0" namespace="##any" processContents="lax"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="sendTask" substitutionGroup="flowElement" type="tSendTask"/>
	<xsd:complexType name="tSendTask">
		<xsd:complexContent>
			<xsd:extension base="tTask">
				<xsd:attribute default="##WebService" name="implementation" type="tImplementation"/>
				<xsd:attribute name="messageRef" type="xsd:QName" use="optional"/>
				<xsd:attribute name="operationRef" type="xsd:QName" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="sequenceFlow" substitutionGroup="flowElement" type="tSequenceFlow"/>
	<xsd:complexType name="tSequenceFlow">
		<xsd:complexContent>
			<xsd:extension base="tFlowElement">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="conditionExpression" type="tExpression"/>
				</xsd:sequence>
				<xsd:attribute name="sourceRef" type="xsd:IDREF" use="required"/>
				<xsd:attribute name="targetRef" type="xsd:IDREF" use="required"/>
				<xsd:attribute name="isImmediate" type="xsd:boolean" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="serviceTask" substitutionGroup="flowElement" type="tServiceTask"/>
	<xsd:complexType name="tServiceTask">
		<xsd:complexContent>
			<xsd:extension base="tTask">
				<xsd:attribute default="##WebService" name="implementation" type="tImplementation"/>
				<xsd:attribute name="operationRef" type="xsd:QName" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="signal" substitutionGroup="rootElement" type="tSignal"/>
	<xsd:complexType name="tSignal">
		<xsd:complexContent>
			<xsd:extension base="tRootElement">
				<xsd:attribute name="name" type="xsd:string"/>
				<xsd:attribute name="structureRef" type="xsd:QName"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="signalEventDefinition" substitutionGroup="eventDefinition" type="tSignalEventDefinition"/>
	<xsd:complexType name="tSignalEventDefinition">
		<xsd:complexContent>
			<xsd:extension base="tEventDefinition">
				<xsd:attribute name="signalRef" type="xsd:QName"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="standardLoopCharacteristics" substitutionGroup="loopCharacteristics" type="tStandardLoopCharacteristics"/>
	<xsd:complexType name="tStandardLoopCharacteristics">
		<xsd:complexContent>
			<xsd:extension base="tLoopCharacteristics">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="loopCondition" type="tExpression"/>
				</xsd:sequence>
				<xsd:attribute default="false" name="testBefore" type="xsd:boolean"/>
				<xsd:attribute name="loopMaximum" type="xsd:integer" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="startEvent" substitutionGroup="flowElement" type="tStartEvent"/>
	<xsd:complexType name="tStartEvent">
		<xsd:complexContent>
			<xsd:extension base="tCatchEvent">
				<xsd:attribute default="true" name="isInterrupting" type="xsd:boolean"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="subChoreography" substitutionGroup="flowElement" type="tSubChoreography"/>
	<xsd:complexType name="tSubChoreography">
		<xsd:complexContent>
			<xsd:extension base="tChoreographyActivity">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="flowElement"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="artifact"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="subConversation" substitutionGroup="conversationNode" type="tSubConversation"/>
	<xsd:complexType name="tSubConversation">
		<xsd:complexContent>
			<xsd:extension base="tConversationNode">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="conversationNode"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="subProcess" substitutionGroup="flowElement" type="tSubProcess"/>
	<xsd:complexType name="tSubProcess">
		<xsd:complexContent>
			<xsd:extension base="tActivity">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="laneSet"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="flowElement"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="artifact"/>
				</xsd:sequence>
				<xsd:attribute default="false" name="triggeredByEvent" type="xsd:boolean"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="task" substitutionGroup="flowElement" type="tTask"/>
	<xsd:complexType name="tTask">
		<xsd:complexContent>
			<xsd:extension base="tActivity"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="terminateEventDefinition" substitutionGroup="eventDefinition" type="tTerminateEventDefinition"/>
	<xsd:complexType name="tTerminateEventDefinition">
		<xsd:complexContent>
			<xsd:extension base="tEventDefinition"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="textAnnotation" substitutionGroup="artifact" type="tTextAnnotation"/>
	<xsd:complexType name="tTextAnnotation">
		<xsd:complexContent>
			<xsd:extension base="tArtifact">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" ref="text"/>
				</xsd:sequence>
				<xsd:attribute default="text/plain" name="textFormat" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="text" type="tText"/>
	<xsd:complexType mixed="true" name="tText">
		<xsd:sequence>
			<xsd:any minOccurs="0" namespace="##any" processContents="lax"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="throwEvent" type="tThrowEvent"/>
	<xsd:complexType abstract="true" name="tThrowEvent">
		<xsd:complexContent>
			<xsd:extension base="tEvent">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="dataInput"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="dataInputAssociation"/>
					<xsd:element maxOccurs="1" minOccurs="0" ref="inputSet"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="eventDefinition"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="eventDefinitionRef" type="xsd:QName"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="timerEventDefinition" substitutionGroup="eventDefinition" type="tTimerEventDefinition"/>
	<xsd:complexType name="tTimerEventDefinition">
		<xsd:complexContent>
			<xsd:extension base="tEventDefinition">
				<xsd:choice>
					<xsd:element maxOccurs="1" minOccurs="0" name="timeDate" type="tExpression"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="timeDuration" type="tExpression"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="timeCycle" type="tExpression"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="transaction" substitutionGroup="flowElement" type="tTransaction"/>
	<xsd:complexType name="tTransaction">
		<xsd:complexContent>
			<xsd:extension base="tSubProcess">
				<xsd:attribute default="##Compensate" name="method" type="tTransactionMethod"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="tTransactionMethod">
		<xsd:union memberTypes="xsd:anyURI">
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="##Compensate"/>
					<xsd:enumeration value="##Image"/>
					<xsd:enumeration value="##Store"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>

	<xsd:element name="userTask" substitutionGroup="flowElement" type="tUserTask"/>
	<xsd:complexType name="tUserTask">
		<xsd:complexContent>
			<xsd:extension base="tTask">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="rendering"/>
				</xsd:sequence>
				<xsd:attribute default="##unspecified" name="implementation" type="tImplementation"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

</xsd:schema>
